@model NC2.Security.AuthorizationServer.API.Models.AccessToken
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create User</title>
</head>
<body>
    <div>

        <dl>
            <dt>@Html.DisplayNameFor(model => model.access_token)</dt>
            <dd>@Html.DisplayFor(model => model.access_token)</dd>
            
            <dt>@Html.DisplayNameFor(model => model.token_type)</dt>
            <dd>@Html.DisplayFor(model => model.token_type)</dd>            

            <dt>@Html.DisplayNameFor(model => model.expires_in)</dt>
            <dd>@Html.DisplayFor(model => model.expires_in)</dd>

        </dl>

    </div>
</body>
</html>